<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="My web page" content="web, html" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <title>Demo</title>
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/tags.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/classes.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/pics.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../static/css/sites.css" />
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/main.js"></script>
  <!--<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=492be57f6b2cbf2242e927e73b07b1b4"></script>  -->
  <!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dvR6EBG5Z7yzEeAiGcwArzXet3XbqDUj"></script> -->
</head>

<body>
  <!--网页标题和相关链接-->
  <div class="header" id="head-container">
    <div class="header-bar">
      <div class="header-text">
        <div class="horizon" id="logo-title">
          <span class="left-span">
            <div id="logo">
              <a href="https://www.utah.edu" aria-label="Visit University of Utah Homepage"></a>
            </div>
          </span>
          <span class="right-span">
            <div id="title">
              <h1 id="main-title">Department of Physics & Astronomy</h1>
              <span id="sub-title">College of Science</span>
            </div>
          </span>
        </div>

        <div class="manubar" id="top-menu">
          <!-- <a href="./bbs.html">社区论坛</a> -->
          <a id="link-sec4">Section 4</a>
          <a id="link-sec3">Section 3</a>
          <a id="link-sec2">Section 2</a>
          <a id="link-sec1">Section 1</a>
          <!-- <a id="link1">TOP</a> -->
        </div>
      </div>
    </div>
    <div id="pics">
      <div class="pic" id="pic1"></div>
      <div class="pic" id="pic2"></div>
      <div class="pic" id="pic3"></div>
      <div class="pic" id="pic4"></div>
      <div class="pic" id="pic5"></div>
    </div>
    <div class="button-block" id="lft-bb">
      <!-- <button class="buttons" id="lft-btn">&lt;</button> -->
    </div>
    <div class="dot-block">
      <div class="dots">
        <button class="sl-dot" id="sl0"></button>
        <button class="sl-dot" id="sl1"></button>
        <button class="sl-dot" id="sl2"></button>
        <button class="sl-dot" id="sl3"></button>
        <button class="sl-dot" id="sl4"></button>
      </div>
    </div>
    <div class="button-block" id="rig-bb">
      <!-- <button class="buttons" id="rig-btn">&gt;</button> -->
    </div>
  </div>

  <!--网页的主体-->
  <div class="content">
    <div class="content-box" id="brief-intro">
      <div class="content-text" id="intro">
        <h2>About us</h2>
        <p>
          We are the AstonomUrs Outreach Group. We provide star parties,
          presentations, demonstrations, solar viewing, dark sky assistance,
          astronomy training, and telescope training to all groups of the
          state of Utah and beyond. You'll find us all over from Bear Lake to
          the Goosenecks. Feel free to contact us for information regarding
          how we can help K-12, astronomy clubs, cities, parks, universities,
          and other educational groups. We're housed out of the South Physics
          Observatory at the Dept. of Physics and Astronomy of the University
          of Utah. All our educational and public efforts are free of charge.
          We do accept tax deductible donations to support our efforts.
        </p>
      </div>
    </div>
    <div class="content-box" id="sec1">
      <div class="content-text">
        <h3>Section 1</h3>
        <p>
          We are the AstonomUrs Outreach Group. We provide star parties,
          presentations, demonstrations, solar viewing, dark sky assistance,
          astronomy training, and telescope training to all groups of the
          state of Utah and beyond. You'll find us all over from Bear Lake to
          the Goosenecks. Feel free to contact us for information regarding
          how we can help K-12, astronomy clubs, cities, parks, universities,
          and other educational groups. We're housed out of the South Physics
          Observatory at the Dept. of Physics and Astronomy of the University
          of Utah. All our educational and public efforts are free of charge.
          We do accept tax deductible donations to support our efforts.
        </p>
      </div>
    </div>
    <div class="content-box">
      <div class="content-text deep-bg">
        <h4 id="r3">Gallery</h4>
        <div class="ste-btn-blk">
          <div class="button-block">
            <div class="site-btn site-btn-left" id="site-left">
              <a>&lt;</a>
            </div>
          </div>
          <div class="site-block">
            <div class="roller" id="sites">
              <div class="site">
                <img id="site1"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site2"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site3"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site4"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site5"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site6"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site7"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site8"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
              <div class="site">
                <img id="site9"/>
                <div class="site-data">
                  <h6>Title</h6>
                  <p>Description.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="button-block">
            <div class="site-btn site-btn-right" id="site-right">
              <a>&gt;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box" id="sec2">
      <div class="content-text">
        <!-- <div class="horizon"> -->
        <!-- <div class="artical"> -->
        <h3>Outreach Information</h3>
        <br />
        <h4>Star Parties:</h4>
        <p>
          We have telescopes available to bring to your school, park, city
          event, etc. backed by experienced astronomers and students from the
          University Of Utah. Depending on the size of your group, we can
          schedule up to seven telescopes (if we have the availability) for
          the event ranging from 8" to 24" in diameter. Although we reserve
          the 24" for very large groups considering the time and effort
          required to transport it and set it up. Solar telescopes are also
          available to view safely during the day time for school groups and
          others. These include white light filters for exceptional sunspot
          viewing and H-alpha telescopes for prominences, flares, faculae, and
          filaments.
        </p>
        <hr />
        <br />
        <h4>Presentations:</h4>
        <p>
          We have built a list of presentations that can be catered to most
          ages and groups. The list includes topics such as black holes,
          cosmology, stars, our Sun, planets, and more. Physics demos are also
          available for gravity, electricity, waves, energy, and more.
        </p>
        <br />
        <h4>Need more?</h4>
        <p>
          Feel free to contact us if you don't see something on the list that
          you'd like to learn or have for your classes and groups. We can
          develop new presentations and demos to fit your needs and can follow
          Utah State Core guidelines to help your classroom experience.
        </p>
        <p>
          Star parties and presentations can be given to private groups but we
          ask for a donation to our department to help fund our free outreach
          for the community.
        </p>
        <p>
          Questions, requests, and comments can be sent to
          <a href="mailto:observatory@physics.utah.edu">observatory@physics.utah.edu</a>.
        </p>
        <!-- </div>
            <div class="pic-wrap">
              <div class="pic-blk">
                <img src="./img/main/深证.jpg" />
                <h6>Title</h6>
              </div>
            </div>
          </div> -->
      </div>
    </div>
    <div class="content-box" id="sec3">
      <div class="content-text deep-bg">
        <div class="horizon">
          <div class="artical">
            <h3>Section 3</h3>
            <br />
            <p>
              We are the AstonomUrs Outreach Group. We provide star parties,
              presentations, demonstrations, solar viewing, dark sky
              assistance, astronomy training, and telescope training to all
              groups of the state of Utah and beyond. You'll find us all over
              from Bear Lake to the Goosenecks. Feel free to contact us for
              information regarding how we can help K-12, astronomy clubs,
              cities, parks, universities, and other educational groups. We're
              housed out of the South Physics Observatory at the Dept. of
              Physics and Astronomy of the University of Utah. All our
              educational and public efforts are free of charge. We do accept
              tax deductible donations to support our efforts.
            </p>
            <!-- <hr /> -->
            <!-- <table>
                <caption>
                  深圳部分本科院校：
                </caption>
                <tbody>
                  <tr>
                    <th>院校名称</th>
                    <th>创办时间</th>
                    <th>学校类型</th>
                    <th>主管部门</th>
                  </tr>
                  <tr>
                    <td>深圳大学</td>
                    <td>1983年</td>
                    <td>综合</td>
                    <td>广东省教育厅</td>
                  </tr>
                  <tr>
                    <td>南方科技大学</td>
                    <td>2011年</td>
                    <td>理工</td>
                    <td>深圳市政府</td>
                  </tr>
                  <tr>
                    <td>香港中文大学（深圳）</td>
                    <td>2014年</td>
                    <td>综合</td>
                    <td>广东省人民政府、香港中文大学</td>
                  </tr>
                  <tr>
                    <td>哈尔滨工业大学（深圳）</td>
                    <td>2014年</td>
                    <td>理工</td>
                    <td>深圳市政府、哈尔滨工业大学</td>
                  </tr>
                  <tr>
                    <td>中山大学深圳校区</td>
                    <td>2015年</td>
                    <td>综合</td>
                    <td>深圳市政府、中山大学</td>
                  </tr>
                  <tr>
                    <td>暨南大学深圳旅游学院</td>
                    <td>1996年</td>
                    <td>综合</td>
                    <td>国务院侨务办公室、暨南大学</td>
                  </tr>
                </tbody>
              </table> -->
          </div>
          <div class="pic-wrap">
            <div class="pic-blk">
              <img id="right-img2"/>
              <h6>Title</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box" id="sec4">
      <div class="content-text">
        <div class="horizon">
          <div class="artical">
            <h3>Section 4</h3>
            <br />
            <p>
              We are the AstonomUrs Outreach Group. We provide star parties,
              presentations, demonstrations, solar viewing, dark sky
              assistance, astronomy training, and telescope training to all
              groups of the state of Utah and beyond. You'll find us all over
              from Bear Lake to the Goosenecks. Feel free to contact us for
              information regarding how we can help K-12, astronomy clubs,
              cities, parks, universities, and other educational groups. We're
              housed out of the South Physics Observatory at the Dept. of
              Physics and Astronomy of the University of Utah. All our
              educational and public efforts are free of charge. We do accept
              tax deductible donations to support our efforts.
            </p>
          </div>
          <div class="pic-wrap">
            <div class="pic-blk">
              <img id="right-img3"/>
              <h6>Title</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--“回到顶部”按钮-->
    <div id="Top-button">
      <a>Λ</a>
    </div>
  </div>

  <!--网页末尾和脚注-->
  <div class="content-box" id="otr-col"></div>
  <div class="footer">
    <p>
      Copyright &copy; 2018-2019 <strong>SCUT</strong> All Rights Reserved.
    </p>
  </div>
</body>

</html>